<div class="modBox">
  <app-lista-clientes class="modChild" *ngIf="isCliente"></app-lista-clientes>
  <app-lista-proveedores class="modChild" *ngIf="isProveedor"></app-lista-proveedores>
  <app-lista-pedido class="modChild" *ngIf="isPedido"></app-lista-pedido>
  <app-lista-producto class="modChild" *ngIf="isProducto"></app-lista-producto>
  <app-lista-almacen class="modChild" *ngIf="isAlmacen"></app-lista-almacen>
  <app-lista-usuario class="modChild" *ngIf="isUsuario"></app-lista-usuario>
  <app-lista-rol class="modChild" *ngIf="isRol"></app-lista-rol>
  <app-lista-ingreso class="modChild" *ngIf="isIngreso"></app-lista-ingreso>
</div>