<div class="cardBox">
    <form class="formBox" [formGroup]="registroPedido" (ngSubmit)="endRegistro()">
      <div class="formContent">
          <div class="formInput">
            <label for="">Fecha*</label>
            <input type="date" class="lInput" name="" formControlName="fecha" [max]="getToday()">
          </div>
          <div class="formInput">
            <label for="">Cliente*</label>
            <select class="lInput" name="" formControlName="cliente">
                <option *ngFor="let value of clientes" [value]="value._id">{{value.name}}</option>
            </select>          
            <div class="errorTag" *ngIf="fPedido.cliente.errors?.required && (fPedido.cliente.touched || fPedido.cliente.dirty)">Por favor seleccione el cliente</div>
          </div>

          <div class="formInput">
            <label for="">Vendedor*</label>
            <select class="lInput" name="" formControlName="vendedor">
                <option *ngFor="let value of vendedores" [value]="value._id">{{value.name}}</option>
            </select>          
            <div class="errorTag" *ngIf="fPedido.vendedor.errors?.required && (fPedido.vendedor.touched || fPedido.vendedor.dirty)">Por favor seleccione el Vendedor</div>
          </div>
          <div class="formInput">
            <label for="">Observaciones</label>
            <textarea class="" rows="6" type="text" formControlName="observaciones" name=""></textarea>
          </div>
<div class="formInput">
            <label for="">Condición de venta*</label>
            <select class="lInput" name="" formControlName="condicionVenta">
                <option value="Contado">Contado</option>
                <option value="Crédito">Crédito</option>
            </select>          
            <div class="errorTag" *ngIf="fPedido.condicionVenta.errors?.required && (fPedido.condicionVenta.touched || fPedido.condicionVenta.dirty)">Por favor seleccione la condición de venta</div>
          </div>
<!--           <div class="formInput">
            <label for="">Estado*</label>
            <select class="lInput" name="" formControlName="estado">
                <option value="Bloqueada">Bloqueada</option>
                <option value="Procesada">Procesada</option>
                <option value="Rechazada">Rechazada</option>
            </select>          
            <div class="errorTag" *ngIf="fPedido.estado.errors?.required && (fPedido.estado.touched || fPedido.estado.dirty)">Por favor seleccione el estado</div>
          </div>
 -->          
     </div>

    

              <div class="productsBox">
                <div class="productsFunctions">
                   <p class="productFunction" (click)="addProducto()">Agregar productos</p>
                </div>
                <div class="productsList">
                    <div class="productsTitle">
                      <p class="productTitle">Producto</p>
                      <p class="qtyTitle">Cantidad</p>
                      <p class="deleteTitle">Eliminar</p>
                    </div>
                    <div class="arrayBox" *ngFor="let productoPedido of productosPedidos.controls; let i = index;">
                      <ng-container class="controlBox" [formGroup]="productoPedido">
                             <div class="productField">
                                <select class="productInput" name="" formControlName="producto">
                                    <option *ngFor="let value of productos" [value]="value._id">{{value.name}}</option>
                                </select>
                            </div>
                            <div class="qtyField">
                                <input class="qtyInput" type="number" min="1" formControlName="qty" name="qty" />
                            </div>
                       
                            <div class="deleteField">
                              <p (click)="removeProduct($event, i)">X</p>
                            </div>
                      </ng-container>

                    </div>
                </div>
              </div>

    <button type="submit" class="formButton">
      <p>Registrar pedido</p>
    </button>
    </form>
</div>

  <app-error class="errorBox" [msg]='errorMsg' [ngClass]="showError" (closeError)="closeError()"></app-error>
