/* You can add global styles to this file, and also import other style files */
.formHeader {
  height: 12vh;
  width: 100%;
  background: #029ced;
  color: white;
  text-align: center;
}

.modBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.addBox form {
  width: 100%;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1%;
  margin-left: 1%;
  padding-right: 1%;
  margin-right: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 96%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formContent {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formBox{
  width: 70%;
  margin: auto;
}

.formButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    color: white;
    background-color: #0084b6;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-style: solid;
    border-width: 3px;
    border-color: #0084b6;
    cursor: pointer;
}

.formButton:hover {
    color: #0084b6;
    background-color: white;
}

.formButton:active {
    color: #0084b6;
    background-color: white;
}

.formButton p {
    color: white;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-decoration: none !important;
}

.formButton:hover p {
    color: #0084b6;
}


.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    margin-bottom: 10px;
 margin-top: 3vh;
  background: #029ced;
  color: white;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: solid;
  border-color: #029ced;
  border-width: 1px;
}

.buttonBox:hover {
  background: white;
  color: #029ced;
  font-weight: bold;
}


.lInput {
    flex-basis: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 16px;
    height: 33px;
    border: none;
    background-image: none;
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    box-shadow: none;
}

.formInput {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    width: 100%;
    align-self: center;
}

.formInput label {
    white-space: nowrap;
    margin-right: 15px;
}

.formInput select {
    background-color: white;
}

.blackBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: height 0.2s ease-out;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 0.5);
  border: none;
}

.addBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 0;
  max-height: 80vh;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.formAct {
    height: auto;
}

.blackAct {
    height: 100%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px;
}

.closeButton .closeB {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 2000;
  color: red;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  border: 2px solid red;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.closeButton .closeB:hover {
  background-color: red;
  color: white;
}


.errorTag{
    font-size: 14px;
    color: red;
    width: 100%;
    margin-bottom: 15px;
    text-align: right;
}


.errorBox{
    display: none;
    height: 0;
}

.errorAct{
    display: block;
    width: 100%;
    height: 100%;
}

.confirmBox{
    display: none;
    height: 0;
}

.confirmAct{
    display: block;
    width: 100%;
    height: 100%;
}

.listBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  padding: 10px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.titleRow {
  white-space: nowrap;
  height: 23px;
  line-height: 23px;
}

.titleRow p {
  display: inline-block;
  text-align: center;
  color: white;
  width: 200px;
  background-color:#0084b6;;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}


.contentRow {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.contentRow div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    color: #0084b6;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #0084b6;
    font-size: 12px;
    margin: 0;
    white-space: normal;
    font-weight: bold;
    width: 200px;
  }

  .contentRow div p{
    width: 100%;
    margin: 0;
  }
  
  
  .actionBox {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
.actionButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  height: 30px;
  width: 42%;
  color: black;
  margin-right: 5px;
  cursor: pointer;
} 

.faIcon{
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.actionButton:active {
  background-color: white;
}

.actionButton:active {
  background-color: white;
}

.actionButton p {
  color: white !important;
  margin: 0;
  font-size: 10px !important;
  border: none !important;
  background-color: transparent !important;
  font-weight: bold;
  min-width: 10px !important;
  width: 100% !important;
  text-decoration: none !important;
}

.actionButton:active p {
  color: #0084b6;
}

.listTitle {
  display: inline-block;
  text-align: center;
  color: white;
  background-color:#0084b6;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 12px;
  margin: 0;
  font-weight: bold;

  width: 200px;
  flex-basis: 100%;
}

.listButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.listButton #closeB {
  background: transparent;
  color: red;
  font-weight: bold;
  margin-right: 10px;
  width: 27px;
  height: 27px;
  text-align: center;
  border: 2px solid red;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.listButton #updateB {
  background: transparent;
  width: 23px;
  height: 23px;
  border: 2px solid grey;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.listButton #closeB:hover {
  background-color: red;
  color: white;
}

.modChild{
  width: 100%;
}


/*CONFIRMATION BOX*/

.confirmHeader{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: bold;
    coloR: white;
    background-color: green;
    margin: 0;
    text-align: center;
}

.confirmContent{
    font-size: 18px;
    color: black;
    padding-top: 42px;
    padding-bottom: 42px;
    margin: 0;
    text-align: center;
}

.confirm.formButton {
    color: white;
    background-color: green;
    border-color: green;
    width: 31%;
}

.confirm.formButton:hover {
    color: green;
    background-color: white;
}

.confirm.formButton:active {
    color: green;
    background-color: white;
}

.confirm.formButton p {
    color: white;
}

.confirm.formButton:hover p {
    color: green;
}

.goback.formButton {
    color: white;
    background-color: red;
    border-color: red;
    width: 31%;
    }
.goback.formButton:hover {
    color: red;
    background-color: white;
    }
.goback.formButton:active {
    color: red;
    background-color: white;    }
.goback.formButton p {
    color: white;

    }
.goback.formButton:hover p {
    color: red;
    }

.confirmButtons{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.logBox {
    background-color: #ffffff;
    border-radius: 3px;
    max-height: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
