<div class="cardBox">
  <form class="formBox" [formGroup]="registroIngreso" (ngSubmit)="endRegistro()">
    <div class="formContent">
      <div class="formInput">
        <label for="">Fecha*</label>
        <input type="date" class="lInput" name="" formControlName="fecha" [max]="getToday()">
      </div>
      <div class="formInput">
        <label for="">Proveedor*</label>
        <select class="lInput" name="" formControlName="proveedor">
          <option *ngFor="let value of proveedores" [value]="value._id">{{value.name}}</option>
        </select>
        
      </div>
      <div class="errorTag"
          *ngIf="fIngreso.proveedor.errors?.required && (fIngreso.proveedor.touched || fIngreso.proveedor.dirty)">Por
          favor seleccione el proveedor
      </div>
      <div class="formInput">
        <label for="">Almacen*</label>
        <select class="lInput" name="" formControlName="almacen">
          <option *ngFor="let value of almacenes" [value]="value._id">{{value.code}}</option>
        </select>
        
      </div>
      <div class="errorTag"
          *ngIf="fIngreso.almacen.errors?.required && (fIngreso.almacen.touched || fIngreso.almacen.dirty)">Por favor
          seleccione el almacen</div>
      <div class="formInput">
        <label for="">Referencia de compra*</label>
        <input type="text" class="lInput" name="" formControlName="referencia">
      </div>
      <div class="errorTag"
          *ngIf="fIngreso.referencia.errors?.required && (fIngreso.referencia.touched || fIngreso.referencia.dirty)">Por
          favor ingrese la referencia de compra</div>
      <div class="formInput">
        <label for="">Observaciones</label>
        <textarea class="" rows="6" type="text" formControlName="observaciones" name=""></textarea>
      </div>

      <div class="formInput">
        <label for="">Estado*</label>
        <select class="lInput" name="" formControlName="estado">
          <option value="Pagado">Pagado</option>
          <option value="Por pagar">Por pagar</option>
        </select>
        
      </div>
      <div class="errorTag"
          *ngIf="fIngreso.estado.errors?.required && (fIngreso.estado.touched || fIngreso.estado.dirty)">Por favor
          seleccione el estado</div>

    </div>


    <div class="productsBox">
      <div class="productsFunctions">
        <p class="productFunction" (click)="addProducto()">Agregar productos</p>
      </div>
      <div class="productsList">
        <div class="productsTitle">
          <p class="productTitle">Producto</p>
          <p class="qtyTitle">Cantidad</p>
          <p class="qtyTitle">Costo unitario</p>
          <p class="deleteTitle">Eliminar</p>
        </div>
        <div class="arrayBox" *ngFor="let productoIngreso of productosIngresos.controls; let i = index;">
          <ng-container class="controlBox" [formGroup]="productoIngreso">
            <div class="productField">
              <select class="productInput" name="" formControlName="producto">
                <option *ngFor="let value of productos" [value]="value._id">{{value.name}}</option>
              </select>
            </div>
            <div class="qtyField">
              <input class="qtyInput" type="number" min="1" formControlName="qty" name="qty" />
            </div>
            <div class="qtyField">
              <input class="qtyInput" type="number" lang="es" step="0.01" formControlName="price" name="price" />
            </div>

            <div class="deleteField">
              <p (click)="removeProduct($event, i)">X</p>
            </div>
          </ng-container>

        </div>
      </div>
    </div>

    <button type="submit" class="buttonBox">
      <p>Registrar ingreso</p>
    </button>
  </form>
</div>

<app-error class="errorBox" [msg]='errorMsg' [ngClass]="showError" (closeError)="closeError()"></app-error>