<div class="modBox">
  <app-form-clientes class="modChild" *ngIf="isCliente" [editMode]="editMode" (onData)="onData($event)">
  </app-form-clientes>
  <app-form-proveedores class="modChild" *ngIf="isProveedor" [editMode]="editMode" (onData)="onData($event)">
  </app-form-proveedores>
  <app-form-pedido class="modChild" *ngIf="isPedido" [editMode]="editMode" (onData)="onData($event)"></app-form-pedido>
  <app-form-producto class="modChild" *ngIf="isProducto" [editMode]="editMode" (onData)="onData($event)">
  </app-form-producto>
  <app-form-almacen class="modChild" *ngIf="isAlmacen" [editMode]="editMode" (onData)="onData($event)">
  </app-form-almacen>
  <app-form-usuario class="modChild" *ngIf="isUsuario" [editMode]="editMode" (onData)="onData($event)">
  </app-form-usuario>
  <app-form-rol class="modChild" *ngIf="isRol" [editMode]="editMode" (onData)="onData($event)"></app-form-rol>
  <app-form-ingreso class="modChild" *ngIf="isIngreso" [editMode]="editMode" (onData)="onData($event)">
  </app-form-ingreso>
</div>