<div class="modBox">
  <app-detalle-almacen class="modChild" *ngIf="isAlmacen"></app-detalle-almacen>
  <app-detalle-banco class="modChild" *ngIf="isBanco"></app-detalle-banco>
  <app-detalle-cliente class="modChild" *ngIf="isCliente"></app-detalle-cliente>
  <app-detalle-cobro class="modChild" *ngIf="isCobro"></app-detalle-cobro>
  <app-detalle-compra class="modChild" *ngIf="isCompra"></app-detalle-compra>
  <app-detalle-cuenta-por-cobrar class="modChild" *ngIf="isCuentasPorCobrar"></app-detalle-cuenta-por-cobrar>
  <app-detalle-cuenta-por-pagar class="modChild" *ngIf="isCuentasPorPagar"></app-detalle-cuenta-por-pagar>
  <app-detalle-cuenta-t class="modChild" *ngIf="isCuentasT">
  </app-detalle-cuenta-t>
  <app-detalle-gasto class="modChild" *ngIf="isGasto"></app-detalle-gasto>
  <app-detalle-pago class="modChild" *ngIf="isPago"></app-detalle-pago>
  <app-detalle-pedido class="modChild" *ngIf="isPedido"></app-detalle-pedido>
  <app-detalle-producto class="modChild" *ngIf="isProducto"></app-detalle-producto>
  <app-detalle-proforma class="modChild" *ngIf="isProforma"></app-detalle-proforma>
  <app-detalle-proveedor class="modChild" *ngIf="isProveedor"></app-detalle-proveedor>
</div>